.orangeText
    color: var(--secondary-color)

.heading
    text-align: center
    font-family: Plus Jakarta Sans
    font-size: 48px
    font-style: normal
    font-weight: 700
    line-height: 56px


.container
    margin: 24px
    padding: 100px 150px 
    text-align: center


.section
    display: flex
    gap: 80px

.sectionleft
    flex: 1

.sectionright
    flex: 1

.sectionright span
    border-radius: 12px
    padding: 10px 15px
    background-color: var(--secondary-color)
    color: white
        