.herosection
    background-color: var(--primary-color)
    border-radius: 15px
    padding: 64px 0 64px 64px
    margin-top: 24px
    margin-bottom: 24px
    margin-right: 24px
    margin-left: 24px
    align-items: center
    display: flex
    

.herosectionleft
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center
    flex-wrap: wrap
    width: 40%
    padding: 0 60px 0 20px

.herosectionleft h1
    line-height: 64px
    line-spacing: -1.68px

.herosectionleft div
    text-align: center        

.herosectionleft h1, .herosectionleft p
    color: #ffffff 
    // font-family: 'Plus Jakarta Sans'
    font-style: normal
    justify-content: center
   
    

.herosectionright
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center
    width: 60%

.herosectionright img
    width: 100%
    height: 100%
    object-fit: cover
    
.button
    background-color: #F60
    border-radius: 1000px
    padding-top: 22px
    padding-bottom: 22px
    padding-right: 64px
    padding-left: 64px
    margin-bottom: 24px
    justify-content: center
    align-items: center
    display: flex
    color: white    
    font-size: 16px
    border: none

.buttonText
    margin-right: 8px    

.orangeText
    color: var(--secondary-color)    

    