.card 
    display: flex
    padding: 24px
    flex-direction: column
    flex: 1 0 0
    border-radius: 24px
    border: 1px  #E3E8EF
    background: #FFFFFF
    padding: 24px

   

.image
    margin-right: 10px    

.cardheader h2
    margin: 0
    padding-bottom: 3px 

.cardheader
    display: flex
    align-items: center  
      
@media only screen and (max-width: 600px)
    .card
        padding: 24px
        gap: 22px
        margin-bottom: 24px





        