.faqbox
    display: flex
    padding: 20px
    flex-direction: column
    //align-items: flex-start
    gap: 24px
    border-radius: 12px
    border: 1px, #E3E8EF
    background: #FFF
    //justify-content: space-between
    margin-bottom: 24px

.accordionbtn
    display: flex
    justify-content: space-between
    cursor: pointer
    font-size: 20px





