.faqbox
    display: flex
    padding: 20px
    flex-direction: column
    gap: 24px
    border-radius: 12px
    border: 1px, #E3E8EF
    background: #FFF
    margin-bottom: 24px
    
.accordionbtn
    display: flex
    justify-content: space-between
    cursor: pointer
    font-size: 20px

.faqheader
  padding: 0px
  margin: 0px
    
.faqanswer
    color: #121926

@media only screen and (max-width: 600px)
    .faqbox
        padding: 10px
        gap: 12px
    .accordionbtn
        font-size: 12px
    .faqheader  
        line-height: 24px   

    .faqanswer
        font-size: 10px    


