.footer
    display: flex
    padding: 40px 150px
    align-items: flex-end
    margin-top: 24px
    justify-content: space-between

.footerleft
    display: flex
    flex-direction: column
    gap: 14px

.footertext
    display: flex
    flex-direction: column
    align-items: flex-start
    gap: 9px

.footertext1
    display: flex
    align-items: center
    gap: 32px 
    font-size: 14px
    font-style: normal
    font-weight: 400  

.footertext2
    font-size: 14px
    font-style: normal
    font-weight: 400      

.footerright
    gap: 13px
    display: flex
    align-items: center
    justify-content: flex-end
